# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Hardhat deploy output can include constructor args
/deployments

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Environment variables
.env
